.fact-container {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

button {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
}
